# IDE and local machine files
.DS_Store
.idea
.vscode
*.iml
local.properties

# Build and tool caches
.cxx
.externalNativeBuild
.gradle
/.cache
/.kotlin
/build
/captures
/kotlin-js-store

# Signing files
*.jks
*.keystore

# Generated Gradle metadata
/gradle/libs.versions.updates.toml

# Local module package outputs
/ksu-sukisu-module/dist/
/ksu-sukisu-module/work/
